<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="set_frame_id" default="base_scan"/>

  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="offset" default="16.0" />

  <!-- run camsense_driver -->
  <node pkg="camsense_driver" type="camsense_publisher" name="camsense_publisher" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="offset" value="$(arg offset)"/>
    <param name="frame_id" value="laser"/>
  </node>

  <node pkg="ros_sensor_test" type="lidar_nodeC.py" name="lidar_node2" output="screen" />
</launch>
